<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zero.spider.dao.ArticleMapper">
    <insert id="save" parameterType="cn.zero.spider.pojo.Article">
        insert ignore into article (url, bookUrl, title, content)
        values (#{url}, #{bookUrl}, #{title}, #{content})
    </insert>
    <select id="getByUrl" resultType="cn.zero.spider.pojo.Article">
        select *
        from article
        where bookUrl = #{bookUrl}
          and url = #{articleUrl}
    </select>
    <select id="getNext" resultType="cn.zero.spider.pojo.Article">
        select bookUrl, url
        from article
        where bookUrl = #{bookUrl}
          and url > #{articleUrl}
        order by url
        limit 0,1
    </select>
    <select id="getPrevious" resultType="cn.zero.spider.pojo.Article">
        select bookUrl, url
        from article
        where bookUrl = #{bookUrl}
          and url &lt; #{articleUrl}
        order by url
        limit 0,1
    </select>
</mapper>